body{
background-image: url("../imagens/fundo.png");	
font-size: 22px;
font-family: Arial, Helvetica, sans-serif;
}

.topicosFiltro{
font-size: 26px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
padding-top: 40px;
text-align: center;
}

#filtro{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;    
}
#logomenu{
    max-width:160px;
    max-height:75px;
    width: auto;
    height: auto;
}
.testecadastro{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;    
}

.testeprojetos{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: left;
    color: black;    
}

#botaobusca{
color: darkblue;    
}
#linha{
    width: 100%;
    border-bottom: 3px solid #000000;
    padding-top: 5%;
}