#telaLogin{
width: auto;
position: absolute;
top: 55%;
left:50%;
transform: translate(-50%, -50%);
}

body{
background-image: url("../imagens/fundo.png");	
font-size: 22px;
font-family: Arial, Helvetica, sans-serif;
}

.topicosODS{
font-size: 26px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
padding-top: 40px;

}



