#telaLogin{
width: auto;
position: absolute;
top: 55%;
left:50%;
transform: translate(-50%, -50%);
}

body{
background-image: url("../imagens/fundo.png");
background-repeat: no-repeat;
background-attachment:fixed;	
font-size: 22px;
font-family: Arial, Helvetica, sans-serif;
}

.topicosODS{
font-size: 26px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
padding-top: 40px;

}

#formularioProjeto{
    width: 40%;
    position: absolute;
    top: 60%;
    left:70%;
    transform: translate(-50%, -50%);
    }
.CamposFormularioProjeto{
        
}





